<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <div class="task">
    <h2><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h2>
    <a href="/tasks/<%= task.id %>/edit">Edit</a>

    <form action="/tasks/<%= task.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </div>
<% end %>
